body {

	background-color: #4F624E;
}

.row  {width:90%;}

li.active {

	color: 1c1c1c;
}

footer  {
	bottom:0;
	position:relative;
	margin:0;
}

.blurb  {
	overflow:hidden;
	background-color:#62585e;
	display:inline-block;
	border-radius:5px;
	vertical-align:baseline;
	margin: auto;
}

#horz {text-align:center !important; border-style: double; border-color:black; width:66%; margin:0 auto;}
